<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Modifier salle de reunion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="updateForm" (submit)="update()">
      <ion-list>
        <ion-item>
          <ion-label>Nom</ion-label>
          <ion-input type="text" formControlName="nom"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Description</ion-label>
          <ion-input type="text" formControlName="description"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button type="submit">Modifier</ion-button>
  </form>
</ion-content>
