<ion-header>
  <ion-toolbar color="primary">
         <ion-title id="nom">{{username}} </ion-title>

        <ion-buttons slot="end">

            <ion-button (click)="_openNotifications()">
              <ion-icon name="notifications-outline" size="large"></ion-icon>
           </ion-button>

          <ion-button (click)="_openParametre()">
             <ion-icon name="settings-outline" size="large"></ion-icon>
          </ion-button>

        </ion-buttons>
</ion-toolbar>


<ion-toolbar>
  <ion-icon name="options-outline" size="large" slot="end"> </ion-icon>
  <ion-searchbar placeholder="Votre recherche" animated class="recherche" search-icon="undefined"></ion-searchbar>
</ion-toolbar>

</ion-header>

<ion-content fullscreen class="ion-padding">
  <div>
    <ion-list>

       <ion-item >
          <ion-list-header id="enteteListe" >
                Liste <br/>des réunions
          </ion-list-header>
       </ion-item >

      <ion-item>
      <ion-grid>
        <ion-note style="float: right;"><ion-icon name="ellipsis-horizontal-circle-outline" size="large"></ion-icon></ion-note>
        <ion-row><ion-label class="texte">Réunion 1</ion-label></ion-row>

               <ion-note>Salle 201</ion-note>

               <ion-note style="float: right;">Public</ion-note>
      </ion-grid>
    </ion-item >



    <ion-item>
      <ion-grid>
        <ion-note style="float: right;"><ion-icon name="ellipsis-horizontal-circle-outline" size="large"></ion-icon></ion-note>
        <ion-row><ion-label class="texte">Réunion 2</ion-label></ion-row>

               <ion-note>Salle 202</ion-note>

               <ion-note style="float: right;">Public</ion-note>
      </ion-grid>
    </ion-item >


    <ion-item>
      <ion-grid>
        <ion-note style="float: right;"><ion-icon name="ellipsis-horizontal-circle-outline" size="large"></ion-icon></ion-note>
        <ion-row><ion-label class="texte">Réunion 3</ion-label></ion-row>

               <ion-note>Salle 203</ion-note>

               <ion-note style="float: right;">Privé</ion-note>
      </ion-grid>
    </ion-item >


    <ion-item>
      <ion-grid>
        <ion-note style="float: right;"><ion-icon name="ellipsis-horizontal-circle-outline" size="large"></ion-icon></ion-note>
        <ion-row><ion-label class="texte">Réunion 4</ion-label></ion-row>

               <ion-note>Salle 204</ion-note>

               <ion-note style="float: right;">Privé</ion-note>
      </ion-grid>
    </ion-item >



      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

  </ion-list>


</div>


<ion-footer>
  <ion-grid>
    <ion-row >
        <ion-col id="etabBottom" size=7>

             <ion-icon name="people-circle-outline"></ion-icon>
            <ion-text> Mes réunions </ion-text>

        </ion-col>

        <ion-col id="iconDoc" size=2>
          <ion-icon  name="document-outline" size="large"></ion-icon>
        </ion-col>

        <ion-col id="avatar"size=2>
          <ion-avatar>
            <img src="">
          </ion-avatar>
        </ion-col>
    </ion-row>

  </ion-grid>

</ion-footer>
</ion-content>

