.parent{
  display: flex;

}



.child1{
  flex: 1;
  width: 50px;
  height: 50px;
  float: left;
}

.child2{
  width: 50px;
  height: 50px;
  float: left;
}

.recherche{
  --border-radius: 0px;
 // --background: #ffffff;
  margin-left:2%;

}

.marge{
  float: right;
  font-weight: bold;

}

span{
  font-size: 25px;
}



#reunions{
  border: 1px solid rgb(129,178,19);
   margin: 10px;
   padding: 5px;
}

#nom{
  font-weight: bold;
}

#enteteListe{
  font-size: 21px; font-weight: bold;

}

.texte{
  font-weight: bold;
  font-size: 15px;
}

#etabBottom{
  background-color:rgb(129,178,19);
  position: relative;
  margin:3%;
  padding:9px;
  padding-left:3%;
  margin-top:10%;
  color:white;



}

#card{
  height: 100px;
  width: 100px;
}

#infos{
 background-color:rgb(129,178,19);
}

#iconDoc{
  margin-top:10%;
}

#avatar{


}

