<ion-header>
  <ion-toolbar>
    <ion-title>Reunion de la salle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item *ngFor="let reunions of reunion">
      <ion-label>{{ reunions.OrdreduJour }}</ion-label>
      <ion-label>{{ reunions.date }}</ion-label>
      <ion-label>{{ reunions.heureDebut }}</ion-label>
      <ion-label>{{ reunions.heureFin }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
