<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="create">
      <ion-icon name="Create"></ion-icon>
      <ion-label>Create</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="read">
      <ion-icon name="book"></ion-icon>
      <ion-label>Read</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="update">
      <ion-icon name="refresh"></ion-icon>
      <ion-label>Update</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="delete">
      <ion-icon name="trash"></ion-icon>
      <ion-label>Delete</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
