<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title id="create">
     Creer une salle
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="createForm" (submit)="add(createForm.value)" >
    <ion-list>
      <ion-item>
        <ion-label>Nom</ion-label>
        <ion-input type="text" formControlName="nom" name="nom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-input type="text" formControlName="description"  name="description"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit">Ajouter</ion-button>
  </form>
</ion-content>
