<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (submit)="login()" >
    <ion-list>
      <ion-item>
        <ion-label>User Name</ion-label>
        <ion-input type="text" formControlName="identifier" name="identifier"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" formControlName="password" name="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit">Se connecter</ion-button>
  </form>
</ion-content>
