<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Liste des salles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-item *ngFor="let salle of salle">
      <ion-label (click)="showInfo(salle.id,salle.nom)">{{ salle.nom }}</ion-label>
      <ion-label>{{ salle.description ?? '-' }}</ion-label>
      <ion-icon name="trash" (click)="delete(salle.id)" ></ion-icon>
      <ion-icon ></ion-icon>
      <ion-icon name="color-wand" (click)="updateLoad(salle.id,salle.nom)" color='primary'></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
